.currencyInputContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.currencyInput, .currencyInputLabel {
    display: block;
    color: rgb(213 213 217);
    font-size: 1rem;
}

.currencyInput {
    /* TODO - remove what is not needed as it s duplicated in dropdown select. should go to a mixin :( add a css preprocessor */
    -webkit-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    outline: none;
    border: 0px;
    box-shadow: none;

    height: 3rem;
    text-align: end;
    /* direction: rtl */
    caret-color: #3683ed;
}

.currencyInputTopRow, .currencyInputBottomRow {
    display: inline-flex;
    align-items: baseline;
    justify-content: flex-end;
}

.currencyInputError {
    color: red;
    justify-self: end;
}