.inputsContainer {
    width: 100%;
    padding-left: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

/* TODO - next 2 are duplicated */
.disabledButton {
    min-height: 2rem;
    width: 100%;
    margin-top: 1rem;

    outline: none;
    border: none;
    border-radius: 1.5rem;
    background-color: rgb(193 217 250); /*for disabled*/
    color: rgb(223 235 252);
    font-size: 1rem;
}

.confirmationButton {
    min-height: 2rem;
    width: 100%;
    margin-top: 1rem;

    outline: none;
    border: none;
    border-radius: 1.5rem;
    background-color: #0665eb;
    color: #bed8e3;
    font-size: 1rem;
}

.currencyToggler {
    position: absolute;
    width: 3rem;
    height: 3rem;
    z-index: 2;
    background-color: rgb(255 255 254);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 45%;
    border: 0.5rem solid rgb(242 244 245);
}


svg {
    fill: blue;
}